@import "tailwindcss";

@theme {
	--animate-wiggle: wiggle 0.2s ease-in-out 2;

	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-0.5deg);
		}
		50% {
			transform: rotate(0.5deg);
		}
	}
}

@layer base {
	body {
		@apply select-none text-zinc-800;
	}

	button {
		@apply cursor-pointer;
	}

	input[type="checkbox"] {
		@apply cursor-pointer } h1 { @apply text-xl md:text-2xl capitalize font-semibold;
	}

	h2 {
		@apply text-lg font-semibold tracking-wide;
	}

	h3 {
		@apply text-sm uppercase;
	}
}

@layer utilities {
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
}
